[project]
	description = Mirror of Apache Hadoop ZooKeeper
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/breed
[access "refs/for/refs/*"]
	read = group user/breed
	push = group user/breed
	label-Code-Review = -2..+2 group user/breed
	label-Verified = -1..+1 group user/breed
	rebase = group user/breed
	removeReviewer = group user/breed
	submit = group user/breed
[access "refs/heads/*"]
	read = group user/breed
	create = group user/breed
	push = +force group user/breed
	pushMerge = group user/breed
[access "refs/tags/*"]
	push = +force group user/breed
	pushTag = group user/breed
	pushSignedTag = group user/breed
